  .wrapper {
    background:#F8ECF4;
  }

  .benefits {
    margin:0 auto;
  }

  .benefit{
    text-align:center;

    margin-bottom:3vh;
  }

  .b-sect {
    width:98%;
    margin:0 auto;
    box-shadow:3px 6px 6px #b4b4b4;
    padding:60px 0;
    background: #fff;
  }

  .jumbotron {
    background-image:url(../img/bg002.png);
    padding-top: 20%;
    padding-bottom: 20%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
