@media (max-width: 575.98px) {

  /*company information*/
  .company-info table {
    padding:10px;
    font-size:0.8em;
  }

  .company-info table tr td.title {
    width:100px;
  }

  .section008 .faq {
    margin: 1vh auto 4vh;
    padding: 30px 0px;
  }

  .question {
    font-size:14px;
    padding:20px 5px;
  }

  .answer p, .answer ul li {
    font-size:0.75em;
  }

  .answer h6 {
    font-size:0.9em;
  }

}

@media (max-width: 414px) {



  .question {
    font-size:13px;
    padding:20px 5px;
  }

}

@media (max-width:375px) {
  .midd-div .main-content .credos table {
    font-size:0.75em;
}
}
